.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin-wrapper {
    margin-top: 35px;
}

.content-container {
    padding-left: 30px;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }

    .item-wrapper {
        /*cursor: pointer;*/
        height: 128px;
        /*background-color: #ff4500;*/
        margin-bottom: 14px;
    }

    .item-wrapper > .img-wrapper {
        text-align: center;
        position: relative;
        height: 100%;
    }

    .item-wrapper > .img-wrapper > input {
        top: 32px;
    }

    .item-wrapper > img {
        max-width: 100%;
        max-height: 128px;
        vertical-align: middle;
        margin: auto;
        display: block;
    }
}

body {
    padding-top: 75px;
    background-color: #F2F2F2;
}

.list-group > li:hover {
    background-color: #F0F0F0;
}

.status-wrapper > label {
    display: block;
    text-align: center;
}

.status-wrapper > label > input {
    display: inline-block;
}

.btn-default, .form-control {
    border-radius: 0px;
    background: #FFFFFF;
}

.navbar-fixed-top {
    /*background: #DEDEDE;*/
}

.status-ok {
    color: green;
    font-weight: bold;
}

.status-bad {
    color: brown;
    font-weight: bold;
}