<header class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div ng-include="'scripts/app/views/shared/navbar-header.html'"></div>
		<nav class="collapse navbar-collapse" role="navigation">
			<ul class="nav navbar-nav navbar-right">
				<li ng-hide="userInfo.email">
					<a uib-tooltip="Move to admin page, select settings and set email!" style="color: crimson" tooltip-placement="bottom">Set email</a>
				</li>
				<li class="dropdown" uib-dropdown>
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" uib-dropdown-toggle>
						{{userInfo.first_name}}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a ng-click="toAdmin()">Admin</a></li>
						<li><a ng-click="logout()">Logout</a></li>
					</ul>
				</li>
			</ul>

			<form class="navbar-form pull-right">
				<select ng-model="userInfo.settings.selected_currency" ng-options="item.CharCode for item in currency track by item.CharCode" class="form-control"></select>
			</form>

			<form class="navbar-form">
				<div class="form-group" style="display: inline">
					<div class="input-group" style="display: table">
						<span class="input-group-addon" style="width: 1%;">
							<span class="glyphicon glyphicon-search"></span>
						</span>
						<input type="text" placeholder="Type and search" class="form-control" ng-model="filterQuery" ng-model-options="{ debounce: 400 }" ng-change="findProducts()" />
					</div>
				</div>
			</form>
		</nav>
	</div>
</header>

<div class="container">
	<a id="top">&nbsp;</a>

	<div ng-include="'scripts/app/views/home/list.html'"></div>
	
	<div anchor target="top" show-after="250" class="anchor"></div>
</div>
