<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="nav navbar-nav">
			<div class="navbar-form">
				<form class="navbar-form">
					<div class="form-group">
						<input ng-model="searchQuery" class="form-control" placeholder="Search for ..." />
						<button class="btn btn-default" type="submit" ng-click="findProducts(1)">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>
				</form>
			</div>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a ng-click="" style="cursor: pointer; font-weight: bold; color: #CA5353;">
					<span class="glyphicon glyphicon-envelope"></span>
					<span>Set email</span>
				</a>
			</li>

			<li>
				<a ng-click="selectPage()" style="cursor: pointer; font-weight: bold;">
					<span class="glyphicon glyphicon-search"></span>
					<span>Page {{page.current}}</span>
				</a>
			</li>

			<li>
				<a ng-click="" style="cursor: pointer; font-weight: bold">
					<span class="glyphicon glyphicon-user"></span>
					<span>Admin</span>
				</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container content-container">
	<ul class="list-group" style="list-style: none;">
		<li ng-repeat="item in data" ng-click="track">
			<div class="row">
				<div class="col-md-1">
					<div class="item-wrapper">
						<div class="img-wrapper">
							<input type="checkbox" class="checkbox-inline" ng-model="item.is_tracked" ng-change="trackProduct(item)" />
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="item-wrapper">
						<img ng-src="{{item.images.icon != null ? item.images.header : item.images.icon }}" />
					</div>
				</div>
				<div class="col-md-7">
					<div class="item-wrapper">
						<b>
							{{item.full_name}}
						</b>
						<p>
							{{item.description}}
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="item-wrapper">
						<div class="text-right" ng-class="item.is_added ? 'status-ok' : 'status-bad'">
							<span>{{item.is_added ? 'Added' : 'Not added'}}</span>
							<span class="glyphicon" ng-class="item.is_added ? 'glyphicon-plus' : 'glyphicon-minus'"></span>
						</div>
						<div class="text-right" ng-class="item.is_tracked ? 'status-ok' : 'status-bad'">
							<span>{{item.is_tracked ? 'Tracked' : 'Untracked'}}</span>
							<span class="glyphicon" ng-class="item.is_tracked ? 'glyphicon-eye-open' : 'glyphicon-eye-close'"></span>
						</div>
						<hr/>
						<div>
							<b>Min:</b>
							<span class="pull-right">{{item.prices.min}}</span>
						</div>
						<div>
							<b>Max:</b>
							<span class="pull-right">{{item.prices.max}}</span>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
