<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="nav navbar-nav">
			<div class="navbar-form">
				<form class="navbar-form">
					<div class="form-group">
						<input type="text" placeholder="Type product name"
							   ng-model="searchQuery"
							   ng-model-options="{ debounce: 500 }"
							   ng-change="findProducts()" />
					</div>
				</form>
			</div>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a ng-click="" style="cursor: pointer; font-weight: bold; color: #CA5353;">
					<span class="glyphicon glyphicon-envelope"></span>
					<span>Set email</span>
				</a>
			</li>

			<li>
				<a ng-click="" style="cursor: pointer; font-weight: bold">
					<span class="glyphicon glyphicon-user"></span>
					<span>Admin</span>
				</a>
			</li>
		</ul>

	</div>
</nav>

<div class="container content-container" infinite-scroll="uploadPage()" infinite-scroll-distance="2" infinite-scroll-disabled="isLoading">
	<ul class="list-group" style="list-style: none;">
		<li ng-repeat="item in items" class="list-group-item" ng-class="getCssClass(item)">
			<div class="row">
				<div class="col-md-1">
					<div class="img-wrapper">
						<input type="checkbox" class="checkbox" ng-model="item.is_tracked" ng-change="trackProduct(item)" />
					</div>
				</div>
				<div class="col-md-2">
					<img ng-src="{{item.images.icon != null ? item.images.header : item.images.icon }}" />
				</div>
				<div class="col-md-7">
					<b>{{item.full_name}}</b>
					<p>{{item.description}}</p>
				</div>
				<div class="col-md-2">
					<div>
						<b>Min:</b><span class="pull-right">{{item.prices.min}}</span>
					</div>
					<div>
						<b>Max:</b><span class="pull-right">{{item.prices.max}}</span>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
