
@{
	Layout = null;
}

<!DOCTYPE html>

<html ng-app="main">
<head>
	<meta name="viewport" content="width=device-width"/>

	@* endless scroll Юзает jquery ?! *@
	@Scripts.Render("~/bundles/angular")
	@*@Scripts.Render("~/bundles/modernizr")*@
	@Scripts.Render("~/bundles/application")

	@Styles.Render("~/bundles/bootstrap-css")
	@Styles.Render("~/bundles/styles")

	<title>Index</title>
</head>
<body>

	<ng-view />


</body>
</html>
