<header class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a ng-click="toHome()" class="navbar-brand" style="cursor: pointer;">Onliner tracker</a>
		</div>
		<nav class="collapse navbar-collapse" role="navigation">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a ng-click="showSettingsWindow()">
						Settings
						<b class="glyphicon glyphicon-cog"></b>
					</a>
				</li>

				<li class="dropdown" uib-dropdown>
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" uib-dropdown-toggle>
						{{userInfo.first_name}}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a ng-click="logout()">Logout</a></li>
					</ul>
				</li>
			</ul>

			<form class="navbar-form pull-right">
				<select ng-model="userInfo.settings.selected_currency" ng-options="item.CharCode for item in currency track by item.CharCode" class="form-control"></select>
			</form>

			<form class="navbar-form">
				<div class="form-group" style="display: inline">
					<div class="input-group" style="display: table">
						<span class="input-group-addon" style="width: 1%;">
							<span class="glyphicon glyphicon-search"></span>
						</span>
						<input type="text" placeholder="Type and filter" class="form-control" ng-model="filterQuery"/>
					</div>
				</div>
			</form>
		</nav>
	</div>
</header>

<div class="container list-group">
	<div ng-repeat="item in items | filter: {full_name: filterQuery}" class="row item-wrapper list-group-item">
		<div class="col-lg-2">
			<img ng-src="{{item.images.icon != null ? item.images.header : item.images.icon }}" />
		</div>
		<div class="col-lg-7">
			<b>{{item.full_name}}</b>
			<p>{{item.description}}</p>
		</div>
		<div class="col-lg-1">
			<div class="item-hidden-controlls">
				<a ng-click="removeProduct(item, $index)" class="pull-right">
					<b class="glyphicon glyphicon-trash" style="font-size: 24px"></b>
				</a>
			</div>
		</div>
		<div class="col-lg-2">
			<div>
				<p>Min<span class="pull-right">{{item.prices.min | exchangeFilter : userInfo.settings.selected_currency.Rate}}</span></p>
				<p>Max<span class="pull-right">{{item.prices.max | exchangeFilter : userInfo.settings.selected_currency.Rate}}</span></p>
			</div>

			<div>
				<p>
					Increase<input type="checkbox" class="pull-right" ng-model="item.increase" ng-change="trackIncrease(item)" />
				</p>
				<p>
					Decrease<input type="checkbox" class="pull-right" ng-model="item.decrease" ng-change="trackDecrease(item)"/>
				</p>
				<p>
					Track<input type="checkbox" class="pull-right" ng-model="item.is_tracked" ng-change="trackProduct(item)" />
				</p>
			</div>
		</div>
	</div>
</div>