<div class="container form-signin-wrapper">

	<div class="form-signin">
		<h3 class="text-center">Please sign in with</h3>
		<a class="btn btn-block btn-social btn-twitter" ng-click="getRequestUrl('Twitter')">
			<span class="fa fa-twitter-square"></span>
			Twitter
		</a>
		<a class="btn btn-block btn-social btn-facebook" ng-click="getRequestUrl('Facebook')">
			<span class="fa fa-facebook-square"></span>
			Facebook
		</a>
		<a class="btn btn-block btn-social btn-vk" ng-click="alert('Later')">
			<span class="fa fa-vk"></span>
			Vk
		</a>
	</div>
</div>
